<h1> posechenie </h1>
<div id="visits">
</div>
<h1> reviews </h1>
<div id="reviews">
</div>

<h1> places</h1>
<div id="places">
</div>

<h1> users</h1>
<div id="users">
</div>

<h1> devices </h1>
<div id="devices">
</div>

<%= content_tag :div, "", id: "chart", data: {
												visits: month_data,
												devices: device_data,
												places_per_day: place_per_day,
												reviews_per_day: review_per_day,
												users_per_day: user_per_day
											} 
%> 
