<h1> devices: <%= device_data %></h1>
<h2> posechenie </h2>
<div id="visits">
</div>
<h2> reviews </h2>
<div id="reviews">
</div>

<h2> places</h2>
<div id="places">
</div>

<h2> users</h2>
<div id="users">
</div>

<h2> devices </h2>
<div id="devices">
</div>

<%= content_tag :div, "", id: "chart", data: {
												visits: month_data,
												places_per_day: place_per_day,
												reviews_per_day: review_per_day,
												users_per_day: user_per_day
											} 
%> 

