<div class="lo-r" ng-init="signIn()">
	<div class="lo-r-card">
		<div class="lo-r-card-title" >
			<span>{{place.properties.street }}</a></span>
		</div>
		<div class="lo-r-card-metro">
			<div class="lo-r-catd-metro-logo">
				<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					<title>Slice 1</title>
					<description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
					<defs></defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						<g id="metro-logo" sketch:type="MSLayerGroup" fill="#D9242A">
							<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
						</g>
					</g>
				</svg>
			</div>
			<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
			<!-- <div>{{new_place.city}}</div> -->
		</div>
	</div>
	<div class="add-review-submit-wrap">
		<button ng-show="new_place" ng-click="updatePlace()" class="add-review-submit">Обновить</button>
	</div>
</div>