<div class="lo-r" ng-init="signIn()">
	<div class="lo-r-nav" ng-init="setRightCenter()">
		<div class="lo-r-nav-select">
			<div class="lo-r-nav-back"><a ng-href="#/places/{{place.properties.id}}">Отмена</a></div>
		</div>
	</div>
	<div class="lo-r-card" ng-init="dropzone()" ng-mouseenter="stopBlur()" ng-mouseleave="startBlur()">
			<div class="lo-r-card-bg lo-r-card-bg-norm" style="background-image: url({{place.properties.image.url}})"></div>
			<div class="lo-r-card-bg lo-r-card-bg-blured" style="background-image: url({{place.properties.image.url}})">
				<div class="lo-r-card-bg lo-r-card-bg-filter"></div>
			</div>
			<div class="lo-r-card-cont lo-r-card-cont-top">
				<div class="lo-r-card-city">{{place.properties.city}}</div>
				<div class="lo-r-card-title">{{place.properties.street}}</div>
				<div class="lo-r-card-rating">
					{{place.properties.rating}}
				</div>
			</div>
			<div class="lo-r-card-cont lo-r-card-cont-bottom">
				<div class="lo-r-card-metro" ng-show="place.properties.metro" ng-class="getMetroColor(place.properties.metro_line)">
					<div class="lo-r-card-metro-logo">
						<svg width="100%" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<g id="metro-logo" sketch:type="MSLayerGroup" fill="#011e66">
									<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
								</g>
							</g>
						</svg>
					</div>
					<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
				</div>
				<div class="lo-r-card-dist" ng-show="isUserLocation()">{{showPlaceDist()}}</div>
				<div class="lo-r-card-count">{{renameReviewCount(place.properties.reviews_count)}}</div>
			</div>
		</div>
	
	<div class="add-review" ng-show="review" ng-init="dropzone()">
		<form>
			<div class="add-review-delete" ng-show="can(review)" ng-click="deleteReview(review.id)">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="100%" height="100%" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
					<path fill="#bebebe" id="x-mark-4-icon" d="M462,256c0,113.771-92.229,206-206,206S50,369.771,50,256S142.229,50,256,50S462,142.229,462,256z M422,256c0-91.755-74.258-166-166-166c-91.755,0-166,74.259-166,166c0,91.755,74.258,166,166,166C347.755,422,422,347.741,422,256z M325.329,362.49l-67.327-67.324l-67.329,67.332l-36.164-36.186l67.314-67.322l-67.321-67.317l36.185-36.164l67.31,67.301 l67.3-67.309l36.193,36.17l-67.312,67.315l67.32,67.31L325.329,362.49z"/>
				</svg>
			</div>
<!--			<p><span ng-show="can(review)" ng-click="deleteReview(review.id)">удалить</span></p>-->
			<input name="total" placeholder="Заголовок" ng-model="review.title" class="add-review-title"></textarea>
			<textarea name="body" placeholder="Дело было так..." ng-model="review.body_nl" class="add-review-body"></textarea>
			<div class="add-review-price">
				Прайс <input name="min_price" type="number" ng-model="review.min_price" class="add-review-price-input"><span> – </span><input name="max_price" type="number" ng-model="review.max_price" class="add-review-price-input">
				<span>
					<svg width="12px" height="12px" y="2px" viewBox="0 0 464 511" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="ruble" sketch:type="MSLayerGroup" fill="#000000">
								<path d="M11.786,428.963 L92.944,428.963 L92.944,498.535 C92.944,501.92 94.027,504.691 96.206,506.857 C98.379,509.037 101.157,510.127 104.541,510.127 L165.043,510.127 C168.183,510.127 170.9,509.037 173.195,506.857 C175.49,504.691 176.634,501.919 176.634,498.535 L176.634,428.963 L359.598,428.963 C362.975,428.963 365.754,427.887 367.932,425.707 C370.112,423.529 371.194,420.756 371.194,417.371 L371.194,370.994 C371.194,367.629 370.112,364.838 367.932,362.672 C365.76,360.492 362.975,359.402 359.598,359.402 L176.628,359.402 L176.628,316.648 L299.812,316.648 C348.117,316.648 387.542,301.929 418.105,272.449 C448.656,243 463.939,204.959 463.939,158.324 C463.939,111.72 448.656,73.678 418.105,44.199 C387.548,14.749 348.116,0 299.812,0 L104.535,0 C101.15,0 98.378,1.089 96.2,3.256 C94.027,5.435 92.938,8.225 92.938,11.591 L92.938,239.487 L11.786,239.487 C8.402,239.487 5.629,240.632 3.451,242.926 C1.279,245.221 0.189,247.938 0.189,251.077 L0.189,305.055 C0.189,308.44 1.272,311.213 3.451,313.391 C5.63,315.571 8.396,316.647 11.786,316.647 L92.944,316.647 L92.944,359.401 L11.786,359.401 C8.402,359.401 5.629,360.491 3.451,362.671 C1.279,364.837 0.189,367.622 0.189,370.993 L0.189,417.37 C0.189,420.755 1.272,423.528 3.451,425.706 C5.629,427.887 8.401,428.963 11.786,428.963 C11.786,428.963 8.401,428.963 11.786,428.963 L11.786,428.963 L11.786,428.963 Z M176.628,77.179 L292.566,77.179 C318.166,77.179 338.814,84.664 354.519,99.639 C370.216,114.615 378.068,134.186 378.068,158.33 C378.068,182.486 370.216,202.063 354.519,217.021 C338.814,232.009 318.165,239.494 292.566,239.494 L176.628,239.494 L176.628,77.179 L176.628,77.179 L176.628,77.179 L176.628,77.179 Z M176.628,77.179" id="Shape" sketch:type="MSShapeGroup"></path>
							</g>
						</g>
					</svg>
				</span>
			</div>
			<div class="add-review-rate" ng-click="openExtRates()">
				<dic class="add-review-rate-stars" star-rating rating-value="review.total" data-max="10" on-rating-selected=""></dic>
			</div>
			<div class="add-review-extrate hidden">
				<div class="add-review-extrate-title">Доп. параметры (опционально)</div>
				<div class="add-review-extrate-wrap">
					<div class="add-review-extrate-titles">
						<div class="add-review-extrate-titles-item">Мясо</div>
						<div class="add-review-extrate-titles-item">Овощи</div>
						<div class="add-review-extrate-titles-item">Сервис</div>
						<div class="add-review-extrate-titles-item">Санитария</div>
					</div>
					<div class="add-review-extrate-stars">
						<div class="add-review-extrate-stars-item" star-rating rating-value="review.meat" data-max="10" on-rating-selected=""></div>
						<div class="add-review-extrate-stars-item" star-rating rating-value="review.vegetables" data-max="10" on-rating-selected=""></div>
						<div class="add-review-extrate-stars-item" star-rating rating-value="review.service" data-max="10" on-rating-selected=""></div>
						<div class="add-review-extrate-stars-item" star-rating rating-value="review.sanitation" data-max="10" on-rating-selected=""></div>
					</div>
				</div>
			</div>
			<input name="meat" ng-model="review.meat" type="hidden">
			<input name="vegetables" ng-model="review.vegetables" type="hidden">
			<input name="service" ng-model="review.service" type="hidden">
			<input name="sanitation" ng-model="review.sanitation" type="hidden">
			<input name="total" ng-model="review.total" type="hidden">
			<input name="images_id" ng-model="new_images_id" type="hidden">
			<input name="place_id" ng-model="place.properties.id" type="hidden">
		</form>
		<div class="add-review-img" ng-show="review.images.length > 0">
			<div ng-repeat="image in review.images" class="add-review-img-item">
				<div ng-attr-id="{{ 'image-' + image.id }}" >
					<img src="{{image.url}}">
					<div class="add-review-img-item-delete" ng-click="deleteImage(image.id)">
						<svg width="100%" height="100%" viewBox="0 0 412 412" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<path d="M412,206 C412,319.771 319.771,412 206,412 C92.229,412 0,319.771 0,206 C0,92.229 92.229,0 206,0 C319.771,0 412,92.229 412,206 C412,206 412,92.229 412,206 L412,206 L412,206 Z M372,206 C372,114.245 297.742,40 206,40 C114.245,40 40,114.259 40,206 C40,297.755 114.258,372 206,372 C297.755,372 372,297.741 372,206 C372,206 372,297.741 372,206 L372,206 L372,206 Z M275.329,312.49 L208.002,245.166 L140.673,312.498 L104.509,276.312 L171.823,208.99 L104.502,141.673 L140.687,105.509 L207.997,172.81 L275.297,105.501 L311.49,141.671 L244.178,208.986 L311.498,276.296 L275.329,312.49 L275.329,312.49 L275.329,312.49 L275.329,312.49 Z M275.329,312.49" id="x-mark-4-icon" fill="#000" sketch:type="MSShapeGroup"></path>
							</g>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="add-review-dropzone" ng-init="fixDropzone()">
			<form action="/images" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
<!--
				<div class="fallback">
					<input name="image" type="image" multiple />
				</div>
-->
			</form>
		</div>
		<div class="add-review-submit">
			<input type="checkbox" id="switch-anon" ng-model="review.anonym" class="switch" />
			<label for="switch-anon">Анонимно</label>
			<div class="clear"></div>
			<button ng-click="updateReview()">Обновить</button>
		</div>
	</div>
</div>
