<div class="lo-r" ng-init="signIn()">
	<div class="lo-r-nav lo-r-nav-addplace"></div>
	<div class="lo-r-addplace">
		<div ng-hide="new_place" class="lo-r-card lo-r-card-phantom">Клик по карте объявляет место</div>
		<div ng-show="new_place" class="lo-r-card lo-r-card-newplace"  ng-init="dropzone()">
		<!--		<div class="lo-r-card-bg lo-r-card-bg-grad"></div>-->
				<div class="lo-r-card-bg lo-r-card-bg-norm"></div>
				<div class="lo-r-card-bg lo-r-card-bg-blured">
					<div class="lo-r-card-bg lo-r-card-bg-filter"></div>
				</div>
				<div class="lo-r-card-cont lo-r-card-cont-top">
					<div class="lo-r-card-city">{{new_place.city}}</div>
					<div class="lo-r-card-title">{{cutAddress(new_place.street)}}</div>
				</div>
				<div class="lo-r-card-cont lo-r-card-cont-bottom">
					<div class="lo-r-card-metro" ng-show="new_place.metro" ng-class="getMetroColor(new_place.metro_line)">
						<div class="lo-r-card-metro-logo">
							<svg width="100%" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
									<g id="metro-logo" sketch:type="MSLayerGroup" fill="#011e66">
										<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
									</g>
								</g>
							</svg>
						</div>
						<div class="lo-r-card-metro-title">{{new_place.metro}}</div>
					</div>
		<!--			<div class="lo-r-card-count">{{renameReviewCount(place.properties.reviews_count)}}</div>-->
				</div>
			</div>
		<div class="lo-r-addplace-place">
			<div class="lo-r-addplace-title">
				Отметьте место на карте
				<div class="lo-r-addplace-checkmark lo-r-addplace-checkmark-place hidden">
					<svg width="100%" height="100%" viewBox="0 0 412 326" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<path d="M348.218,0 L149.729,198.49 L63.754,112.491 L0,176.257 L149.733,326.03 L412,63.741 L348.218,0 Z M348.218,0" id="check-mark-icon" fill="#000000" sketch:type="MSShapeGroup"></path>
						</g>
					</svg>
				</div>
			</div>
			<div class="lo-r-addplace-subtitle">Для удобства поиска можно нажать кнопку "Найти" на карте и по ближайшим ориентирам перейти к искомой локации.</div>
		</div>
		<div class="lo-r-addplace-img">
			<div class="lo-r-addplace-title">
				Загрузите фотографию места
				<div class="lo-r-addplace-checkmark lo-r-addplace-checkmark-img hidden">
					<svg width="100%" height="100%" viewBox="0 0 412 326" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<path d="M348.218,0 L149.729,198.49 L63.754,112.491 L0,176.257 L149.733,326.03 L412,63.741 L348.218,0 Z M348.218,0" id="check-mark-icon" fill="#000000" sketch:type="MSShapeGroup"></path>
						</g>
					</svg>
				</div>
			</div>
			<div class="lo-r-addplace-subtitle">В дальнейшем фотографию можно будет поменять.</div>
			<div class="add-place-dropzone add-review-dropzone" ng-init="fixDropzone()">
				<form action="/images" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
				</form>
			</div>
			<div class="add-place-submit-wrap">
				<a ng-click="createPlace()" class=" hidden add-place-submit">Создать место</a>
			</div>
		</div>
	</div>
	
<!--
	<div ng-show="new_place">
		<div class="add-place-img">
			<p class="add-place-title">Загрузите фотографию места</p>
			<div class="add-place-updateimg hidden" ng-click="updateImg()">Изменить фотографию</div>
			<br>
			<div class="add-place-dropzone add-review-dropzone" ng-init="fixDropzone()">
				<form action="/images" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
				</form>
			</div>
			<div class="add-place-submit-wrap hidden">
				<a ng-show="new_place" ng-click="createPlace()" class="add-place-submit">Создать место</a>
			</div>
		</div>
	</div>
-->
</div>