<div class="lo-r">
	<!--<div class="lo-r-card-wrapper">-->
		<div class="lo-r-nav">
			<div class="lo-r-nav-select">
				Назад
<!--				<span ng-click="choosePlacesSort('r')" class="lo-r-nav-select-item lo-r-nav-select-item-r active">Рейтинг </span>-->
<!--				<span ng-click="choosePlacesSort('p')" class="lo-r-nav-select-item lo-r-nav-select-item-p">Популярность</span>-->
			</div>
		</div>
		<div class="lo-r-card" ng-mouseenter="stopBlur()" ng-mouseleave="startBlur()">
			<div class="lo-r-card-bg blured" style="background-image: url({{place.properties.image.url}})"></div>
			<div class="lo-r-card-cont">
				<div class="lo-r-card-title">
					<span>{{place.properties.street}}</span>
				</div>
				<div class="lo-r-card-metro">
					<div class="lo-r-card-metro-logo">
						<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
								<g id="metro-logo" sketch:type="MSLayerGroup" fill="#011e66">
									<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
								</g>
							</g>
						</svg>
					</div>

					<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
				</div>
<!--				<span ng-show="can(place)" ng-click="deletePlace(place.properties.id)">удалить</span>-->
<!--				<a ng-show="can(place)" href="/#/places/{{place.properties.id}}/edit_place">редактировать</a>-->
				<div class="lo-r-card-rating">
					<div class="lo-r-card-rating-num">{{place.properties.rating}}</div>
					<div class="lo-r-card-rating-count">{{place.properties.reviews_count}}</div>
	<!--				<div class="lo-r-card-rating-stars" star-rating rating-value="place.properties.rating" data-max="10"></div>-->
				</div>
			</div>
			
		</div>
	<!--</div>
	<div class="lo-r-border"></div>-->
	
	<div class="lo-r-subnav">
		<div class="lo-r-subnav-newreview" ng-click="writeReview(place)">
			Написать обзор
		</div>
	</div>
	<div ng-repeat="review in reviews | orderBy:'-date'" class="lo-r-cont">
		<!--<div class="lo-r-cont-review" ng-class="review == current_review ? 'ext' : ''" ng-click="makeReviewCurrent(review)">-->
		<div class="lo-r-cont-review" ng-attr-id="{{'review-'+review.id}}" ng-class="openReview(review)">
			<div class="lo-r-cont-review-head">
				<div class="lo-r-cont-review-head-user">
					<div class="lo-r-cont-review-head-user-img" ng-hide="review.anonym" style="background-image: url({{review.author.image_url}})"></div>
					<div class="lo-r-cont-review-head-user-img" ng-show="review.anonym" style="background-image: url(http://lh6.googleusercontent.com/-cD7TPhhmge8/AAAAAAAAAAI/AAAAAAAAABA/pCJAxHQD4Wk/s512-c/photo.jpg)"></div>
					<div class="lo-r-cont-review-head-user-name" ng-hide="review.anonym">{{review.author.username}}</div>
					<div class="lo-r-cont-review-head-user-name" ng-show="review.anonym">Некто</div>
				</div>
				<div class="lo-r-cont-review-head-rating">
					{{review.rating}}
				</div>
			</div>
			<div class="lo-r-cont-review-body" ng-click="makeReviewCurrent(review)" ng-class="openReview(review)">
				<div class="lo-r-cont-review-body-title">{{ review.title }}</div>
				<div class="lo-r-cont-review-body-text">
					<div ng-show="!isReviewCurrent(review)" ng-bind-html="review.body"></div>
					<div ng-show="isReviewCurrent(review)">
						<div ng-bind-html="review.body"></div>
						<div ng-repeat="image in review.images">
							<img src="{{image.url}}">
						</div>
					</div>
				</div>
				<div class="lo-r-cont-review-body-grad"></div>
			</div>
<!--			<p><a ng-show="can(review)" href="/#/places/{{place.properties.id}}/edit_review/{{review.id}}">редактировать</a></p>-->
<!--			<p><a ng-show="can(review)" ng-click="deleteReview(review.id)">удалить</a></p>-->
			<div class="lo-r-cont-review-open" ng-click="makeReviewCurrent(review)">Читать</div>
			<div class="lo-r-cont-review-edit" ng-show="can(review)">
				<a href="/#/places/{{place.properties.id}}/edit_review/{{review.id}}">Редактировать</a>
			</div>
			<div class="lo-r-cont-review-delete" ng-show="can(review)" ng-click="deleteReview(review.id)">
				Удалить
			</div>
			
<!--					{{ review.body | limitTo: 140 }}{{review.body.length > 100 ? '...' : ''}}-->
<!--									<span class="lo-r-cont-review-body-open">Читать</span>-->
		</div>
	</div>
</div>
