<div class="lo-r">
	<!--<div class="lo-r-card-wrapper">-->
		<div class="lo-r-nav">
			<div class="lo-r-nav-select">
				Назад
<!--				<span ng-click="choosePlacesSort('r')" class="lo-r-nav-select-item lo-r-nav-select-item-r active">Рейтинг </span>-->
<!--				<span ng-click="choosePlacesSort('p')" class="lo-r-nav-select-item lo-r-nav-select-item-p">Популярность</span>-->
			</div>
		</div>
		<div class="lo-r-card">
			<!-- <div class="lo-r-card-close" ng-click="closePlace()">✕</div> -->
<!--
			<div class="lo-r-card-create" ng-click="writeReview(place)">
				<span class="lo-r-card-create-icon">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="16px" height="16px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
					<path id="create-review-icon" d="M172.782,438.836L172.782,438.836L50.417,461.42l24.686-120.264l0.001-0.001L172.782,438.836z M364.735,51.523l-43.829,43.829l97.682,97.68l43.829-43.829L364.735,51.523z M96.996,319.263l97.681,97.679l202.017-202.015 l-97.68-97.682L96.996,319.263z"/>
					</svg>
				</span>Написать
			</div>
-->
<!--
			<div class="lo-r-card-share">
				<svg width="16px" height="16px" viewBox="0 0 370 412" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						<path d="M285.814,121.815 C270.793,121.815 256.693,125.753 244.485,132.649 C236.419,137.206 226.487,136.924 218.686,131.928 L131.375,76.019 C124.626,71.697 120.362,64.399 119.896,56.398 C118.084,25.265 92.213,0 60,0 C26.863,0 0,26.863 0,60 C0,102.486 42.832,131.156 81.814,115.898 C89.273,112.979 97.68,113.815 104.426,118.134 L179.594,166.268 C193.238,175.005 201.568,190.127 201.63,206.328 L201.63,206.34 C201.692,222.05 193.697,236.699 180.467,245.171 L104.425,293.864 C97.69,298.177 89.262,299.015 81.814,296.1 C42.785,280.828 0,309.574 0,352 C0,385.137 26.863,412 60,412 C92.186,412 118.085,386.759 119.897,355.603 C120.361,347.615 124.637,340.296 131.376,335.981 L218.686,280.072 C226.479,275.082 236.427,274.8 244.485,279.351 C256.693,286.247 270.793,290.186 285.814,290.186 C332.309,290.186 370,252.493 370,206 C370,159.506 332.309,121.815 285.814,121.815 L285.814,121.815 L285.814,121.815 L285.814,121.815 Z M285.814,121.815" id="share-icon" fill="#000000" sketch:type="MSShapeGroup" transform="translate(185.000000, 206.000000) scale(-1, 1) translate(-185.000000, -206.000000) "></path>
					</g>
				</svg>
			</div>
-->
<!--
			<div class="lo-r-card-revnum">
				<span class="lo-r-card-revnum-icon">
					<svg width="14px" height="14px" viewBox="0 0 412 382" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<path d="M412,0 L0,0 L0,293.682 L64.501,293.682 L64.501,382.018 L196.479,293.682 L412,293.682 L412,0 Z M412,0" id="speech-bubble-9-icon" fill="#000000" sketch:type="MSShapeGroup" transform="translate(206.000000, 191.009000) scale(-1, 1) translate(-206.000000, -191.009000) "></path>
						</g>
					</svg>
				</span>
				<span class="lo-r-card-revnum-num">{{place.properties.reviews_count}}</span>
			</div>
-->
			<div class="lo-r-card-title">
				<span>{{place.properties.street}}</span>
			</div>
			<p><span ng-show="can(place)" ng-click="deletePlace(place.properties.id)">удалить</span></p>
			<div class="lo-r-card-metro">
				<div class="lo-r-card-metro-logo">
					<svg width="13px" viewBox="0 0 670 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<g id="metro-logo" sketch:type="MSLayerGroup" fill="#011e66">
								<path d="M334.561,471.297 L443.284,282.322 L488.424,410.315 L451.976,410.315 L451.976,466.639 L669.121,466.639 L669.121,410.315 L627.676,410.315 L471.695,0 L334.561,252.627 L197.427,0 L41.446,410.315 L0,410.315 L0,466.639 L217.146,466.639 L217.146,410.315 L180.697,410.315 L225.837,282.322 L334.561,471.297" id="Page-1" sketch:type="MSShapeGroup"></path>
							</g>
						</g>
					</svg>
				</div>

				<div class="lo-r-card-metro-title">{{place.properties.metro}}</div>
			</div>
			<div class="lo-r-card-rating">
				<div class="lo-r-card-rating-num">{{place.properties.rating}}</div>
				<div class="lo-r-card-rating-count">{{place.properties.reviews_count}}</div>
				<div class="lo-r-card-rating-stars" star-rating rating-value="place.properties.rating" data-max="10"></div>
			</div>
		</div>
	<!--</div>
	<div class="lo-r-border"></div>-->
	
	<div class="lo-r-subnav">
		<div class="lo-r-subnav-newreview" ng-click="writeReview(place)">
			Написать обзор
		</div>
	</div>
	<div ng-repeat="review in reviews | orderBy:'-date'" class="lo-r-cont">
		<!--<div class="lo-r-cont-review" ng-class="review == current_review ? 'ext' : ''" ng-click="makeReviewCurrent(review)">-->
		<div class="lo-r-cont-review" ng-class="openReview(review)" ng-click="makeReviewCurrent(review)" ng-attr-id="{{'review-'+review.id}}">
			<div class="lo-r-cont-review-title">
<!--				рейтинг - {{review.rating}}; {{review.min_price}}-{{review.max_price}} rub-->
				{{ review.title }}
			</div>
			<p><a ng-show="can(review)" href="/#/places/{{place.properties.id}}/edit_review/{{review.id}}">редактировать</a></p>
			<p><a ng-show="can(review)" ng-click="deleteReview(review.id)">удалить</a></p>
			<div class="lo-r-cont-review-rating">{{review.rating}}</div>
			<div class="lo-r-cont-review-body">
				<div ng-show="!isReviewCurrent(review)" ng-bind-html="review.body">
					{{ review.body | limitTo: 140 }}{{review.body.length > 100 ? '...' : ''}}
<!--									<span class="lo-r-cont-review-body-open">Читать</span>-->
				</div>
				<div ng-show="isReviewCurrent(review)">
					<p ng-bind-html="review.body"></p>
					<!-- <span style="color: blue;cursor: pointer;" ng-click="closeReview()"> закрыть </span> -->
				</div>

				<div ng-repeat="image in review.images">
					<img src="{{image.url}}">
				</div>
			</div>
			<div class="lo-r-cont-review-author">
					{{review.author.username}}
				</div>
		</div>
	</div>
</div>
