@media screen and (min-width: 1020px) {
	.cont {
//		background: pink !important;
//		display: none !important;
		width: 1000px !important;
	}
	
	.lo {
		&-r {
			width: 430px !important;
			&-cont {
				&-review {
					min-height: 100px;
//					padding: 15px !important;
					&-title {
						font-size: 16px !important;
					}
					&-body {
						font-size: 14px !important;
					}
				}
			}
			&-card {
				&-dist {
					top: 21px !important;
				}
			}
		}
	}
}

//@media screen and (max-width: 1040px) {
//	.cont {
//		width: 900px;
//	}
//	.lo-l {
//		width: 360px !important;
//	}
//}
//
@media screen and (max-width: 940px) {
//	.cont {
//		width: 900px;
//	}
//	.lo-l-map {
//		width: 460px !important;
//		background: cyan;
//	}
}
