
@media screen and (max-width: 1026px) {
	.cont {
		width: 900px !important;
	}
	
	.lo {
		&-r {
			width: 380px !important;
			&-card {
				&-dist {
//					top: 0px !important;
//					top: 21px !important;
				}
			}
		}
		&-l {
			width: 500px !important;
			&-map {
				width: 500px !important;
			}
		}
	}
}


@media screen and (max-width: 930px) {
	.cont {
		width: 800px !important;
	}
	.lo-l {
		width: 400px !important;
		&-map {
			width: 400px !important;
		}
	}
}

@media screen and (max-width: 830px) {
	.cont {
		width: 750px !important;
	}
	.lo-l {
		width: 350px !important;
		&-map {
			width: 350px !important;
		}
	}
}

//=============================================== MOBILE

@media screen and (max-width: 780px) {
	.cont {
		width: 600px !important;
	}
	.lo-l {
		position: relative !important;
		margin-bottom: 20px !important;
		&-head {
			width: 600px !important;
			&-nav {
				display: none;
			}
			&-menu {
				display: block;
			}
		}
		&-map {
			width: 600px !important;
		}
		&-addplace {
			display: none !important;
		}
	}
	.lo-r {
		position: relative !important;
		width: 600px !important;
		&-nav-addplace {
			display: none !important;
		}
		&-nav-fb {
			display: none !important;
		}
	}
	.feedback {
		display: none !important;
	}
	.sn {
		.lo-l-head-nav-user-logout {
			top: 24px !important;
		}
	}
}



@media screen and (max-width: 650px) {
	.cont {
		width: 500px !important;
	}
	.lo-l {
		&-head {
			width: 500px !important;
		}
		&-map {
			width: 500px !important;
		}
	}
	.lo-r {
		width: 500px !important;
	}
}


@media screen and (max-width: 530px) {
	.cont {
		width: 450px !important;
	}
	.lo-l {
		width: 450px !important;
		&-head {
			width: 450px !important;
		}
		&-map {
			width: 450px !important;
		}
	}
	.lo-r {
		width: 450px !important;
	}
}

@media screen and (max-width: 470px) {
	.cont {
		width: 400px !important;
	}
	.lo-l {
		width: 400px !important;
		&-head {
			width: 400px !important;
		}
		&-map {
			width: 400px !important;
		}
	}
	.lo-r {
		width: 400px !important;
	}
}

@media screen and (max-width: 420px) {
	.cont {
		width: 350px !important;
	}
	.lo-l {
		width: 350px !important;
		&-head {
			width: 350px !important;
		}
		&-map {
			width: 350px !important;
			height: 350px !important;
		}
	}
	.lo-r {
		width: 350px !important;
	}
	.add-review-extrate-titles {
		width: 80px !important;
		&-item {
			font-size: 12px !important;
		}
	}
}

@media screen and (max-width: 380px) {
	.cont {
		width: 300px !important;
	}
	.lo {
		margin-top: 10px !Important;
	}
	.lo-l {
		width: 300px !important;
		margin-bottom: 10px !important;
		&-head {
			width: 300px !important;
			height: 40px !important;
			margin-bottom: 10px !important;
			&-logo {
				width: 40px !important;
				height: 40px !important;
			}
			&-menu {
				top: 10px !important;
			}
		}
		&-map {
			width: 300px !important;
			height: 300px !important;
		}
//		&-addplace {
//			display: none !important;
//		}
	}
	.lo-r {
		width: 300px !important;
		&-nav {
			&-select {
				font-size: 14px !important;
			}
		}
		&-card {
			white-space: nowrap !important;
		}
		&-cont-review-body-text {
			font-size: 15px !important;
		}
	}
	.dz-message {
		font-size: 13px !important;
	}
	.add-review-title {
		width: 270px !important;
	}
}