//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900&subset=latin,cyrillic-ext);
@import "http://webfonts.ru/import/ralewayc.css";


//$bg: rgb(248, 248, 248);
$bg: rgb(255, 255, 255);
$win: #fff;
$act: rgb(240,67,61);

.hidden {
	display: none !important;
}


a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: $bg;
//	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway Cyr';
}

.prnj {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.85);
	z-index: 10;
}

.popup {
	&-about {
		max-width: 800px;
		width: 90%;
		position: relative;
		height: auto;
		z-index: 11;
		top: 20px;
		margin: 0 auto 20px;
		background: #fff;
		border-radius: 2px;
		padding: 30px;
		box-sizing: border-box;
	}
	&-close {
		position: absolute;
		top: 20px;
		width: 18px;
		height: 18px;
		text-align: center;
		right: 30px;
		font-size: 18px;
		color: #969696;
		cursor: pointer;
		&:hover {
			color: $act;
		}
	}
}


.cont {
	width: 900px;
	position: relative;
	margin: auto;
	&-head {
		width: inherit;
		padding-right: 10px;
		position: fixed;
		height: 60px;
		background: $bg;
		z-index: 3;
		&-logo {
			width: 150px;
			height: 40px;
			position: relative;
			top: 10px;
			left:0;
			box-sizing: border-box;
//			border: 5px solid $act;
//			border-radius: 3px;
			font-weight: 900;
			font-style: italic;
//			line-height: 40px;
			padding-top: 15px;
			font-size: 25px;
			a {
				color: rgb(240,67,61);
				&:hover {
					text-decoration: none;
				}
			}
			& span {
				font-size: 10px;
				top: -10px;
				left: 6px;
				position: relative;
				opacity: .4;
			}
		}
		&-toplist {
			position: absolute;
			right: 0;
			top: 10px;
			width:40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 20px;
			color: #a3a3a3;
			&.active {
				color: $act !important;
			}
		}
	}
}

.what {
	position: fixed;
	bottom: 10px;
	right: 8px;
	width: 20px;
	height: 16px;
	cursor: pointer;
	path {
		fill: #7c7c7c;
	}
	&:hover {
//		& .what-tip {
//			display: inline-block;
//			color: $act;
//		}
		path {
			fill: $act;
		}
	}
	&-tip {
		font-size: 10px;
		font-weight: 800;
		position: relative;
		top: -4px;
		left: 3px;
		display: none;
		color: #7c7c7c;
	}
}

.lo {
	width: 100%;
	position: relative;
	top: 60px;
	&-l, &-r {
		display: inline-block;
		vertical-align: top;
	}
	&-l {
//		display: inline-block;
		width: 560px;
		height: 600px;
		position: fixed;
//		position: relative;
		top: 60px;
//		left: 0;
		&-map {
			width: 560px;
			height: 400px;
			display: block;
			background: #b0b0b0;
			border-radius: 3px;
			box-sizing: border-box;
//			overflow: hidden !Important;
			   -moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			 -khtml-border-radius: 3px;
					border-radius: 3px;
			overflow: hidden;
			position: relative;
			-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
		}
		&-filter {
			width: 100%;
			height: 80px;
			margin-top: 10px;
			background: $win;
			border-radius: 3px;
//			-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
		}
		&-addplace {
			display: inline-block;
//			width: 155px;
			font-weight: 500;
			height: 40px;
			position: relative;
			margin-top: 10px;
//			border-radius: 2px;
//			border: 1px solid $act;
//			background: $act;
//			color: #fff;
			color: $act;
			line-height: 40px;
			text-align: center;
//			   -moz-transition: max-height .8s ease;
//			-webkit-transition: max-height .8s ease;
//			   -moz-transition: max-height .8s ease;
//				 -o-transition: max-height .8s ease;
//					transition: max-height .8s ease;
			&:hover {
				text-decoration: none;
//				-webkit-box-shadow: 0px rgba(0,0,0,0.2);
//				   -moz-box-shadow: 0px rgba(0,0,0,0.2);
//						box-shadow: 0px rgba(0,0,0,0.2);
			}
			&-tip {
				margin-left: 30px;
				position: relative;
				font-size: 14px;
				color: #797979;
			}
		}
	}
	&-r {
//		display: inline-block;
		width: 330px;
//		height: 700px;
//		position: relative;
//		float: right;
		position: absolute;
		right: 0;
//		right: 0;
//		margin-right: 10px;
		font-size: 13px;
		&-card-wrapper {
			position: fixed;
			height: 90px;
			top: 60px;
			width: inherit;
			z-index: 6;
		}
		&-card {
			&-places {
				cursor: pointer;
			}
			position: relative;
			margin-bottom: 10px;
			width: inherit;
//			position: fixed;
			height: 90px;
//			height: 70px;
//			top: 60px;
			border-radius: 3px;
//			background: rgb(255, 255, 255) !Important;
//			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiNkZGQiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiNlZWUiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8L3N2Zz4=");
//			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiNlZWUiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
//			z-index: 5;
//			transition: all .2s ease;
//			background: $win;
//			-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
			box-sizing: border-box;
			padding: 14px;
			&-close {
				position: absolute;
				width: 14px;
				height: 14px;
				text-align: center;
				font-size: 14px;
				color: #6b6b6b;
				right: 5px;
				top: 5px;
				cursor: pointer;
				&:hover {
					color: $act;
				}
			}
			&-title {
//				font-weight: bold;
				font-weight: 800;
				font-size: 16px;
				color: #000;
			}
			&-metro {
				margin-top: 6px;
				display: inline-block;
				font-size: 13px;
				font-weight: 500;
				color: #808080 !important;
				div {
					display: inline-block;
				}
//				&-logo {
//					width: 13px;
//					height: 13px;
//					overflow: hidden;
//				}
				&-sok {
					& #metro-logo {
						fill: red;
					}
				}
				&-zam {
					& #metro-logo {
						fill: green;
					}
				}
				&-ap {
					& #metro-logo {
						fill: blue;
					}
				}
				&-fil {
					& #metro-logo {
						fill: deepskyblue;
					}
				}
				&-kol {
					& #metro-logo {
						fill: brown;
					}
				}
				&-kr {
					& #metro-logo {
						fill: orange;
					}
				}
				&-tk {
					& #metro-logo {
						fill: purple;
					}
				}
				&-kal {
					& #metro-logo {
						fill: #FFCB31;
					}
				}
				&-st {
					& #metro-logo {
						fill: dimgray;
					}
				}
				&-lub {
					& #metro-logo {
						fill: #86d907;
					}
				}
				&-kah {
					& #metro-logo {
						fill: darkcyan;
					}
				}
				&-but {
					& #metro-logo {
						fill: #66b2b6;
					}
				}
				&-tim {
					& #metro-logo {
						fill: #011e66;
					}
				}
			}
			&-rating {
				position: absolute;
				top: 14px;
				right: 12px;
				width: 50px;
				height: 42px;
				line-height: 42px;
				text-align: center;
//				border-left: 2px solid #a4ebd3;
//				background: pink;
				padding-left: 20px;
				&-1 {
					font-weight: 800;
					font-size: 24px;
					color: #ffce06;
					font-family: 'helvetica';
				}
				&-2 {
					font-weight: bold;
					font-size: 26px;
//					color: #000;
					color: #ffce06;

//					color: #424242;
				}
			}
			&-create {
				position: absolute;
				right: 14px;
				bottom: 10px;
				cursor: pointer;
				color: $act;
				path {
					fill: $act;
				}
				&-icon {
					position: relative;
					left: 2px;
					top: 2px;
				}
				span:first-child {
					width: 10px;
				}
				&:hover {
//					text-decoration: underline;
				}
			}
			&-share {
				width: 16px;
				height: 16px;
				position: absolute;
				bottom: 11px;
				right: 96px;
				path {
					fill: #cecece;
//					fill: blue;
				}
			}
			&-revnum {
				&-places {
					right: 12px !important;
				}
				position: absolute;
				bottom: 11px;
				right: 120px;
				display: inline-block;
				height: 12px;
				height: 16px;
				path {
					fill: #cecece;
					position: absolute;
				}
				&-icon {
					position: relative;
					top: 2px;
				}
				&-num {
					position: relative;
//					top: 1px;
					left: 2px;
					color: #000;
					width: 22px;
					text-align: center;
					font-family: 'helvetica';
					color: #cecece;
					font-weight: 400;
					font-size: 14px;
				}
			}
		}
		&-border {
			width: inherit;
			height: 10px;
			background: $bg;
			position: fixed;
			top: 150px;
//			top: 130px;
			z-index: 4;
//			-webkit-box-shadow-bottom: 0px 0px 3px 0px rgba(0,0,0,0.14);
//			   -moz-box-shadow-bottom: 0px 0px 3px 0px rgba(0,0,0,0.14);
//					box-shadow-bottom: 0px 0px 3px 0px rgba(0,0,0,0.14);
		}
		&-add {
			position: relative;
			right: 0;
			top: 25px;
			width: 24px;
			height: 24px;
			border-radius: 12px;
			background: $act;
			color: #fff;
			font-size: 24px;
			font-weight: 700;
			line-height: 24px;
			text-align: center;
			cursor: pointer;
			margin: auto;
			top: 58px;
			z-index: 5;
		}
		&-cont {
			&-fix {
				top: 100px;
			}
			width: inherit;
			position: relative;
//			top: 100px;
//			top: 80px;
			&-review {
				background: $win;
				box-sizing: border-box;
				border-top: 1px solid #eee;
				padding: 13px 10px;
				position: relative;
				margin-bottom: 10px;
//				border-radius: 3px;
				max-height: 90px;
				cursor: pointer;
//				padding: none !Important;
//				transition: height .2s ease;
					   -moz-transition: max-height .8s ease;
					-webkit-transition: max-height .8s ease;
					   -moz-transition: max-height .8s ease;
						 -o-transition: max-height .8s ease;
							transition: max-height .8s ease;
				overflow: hidden;
				img {
					width: 100%;
					display: block;
					margin: 14px 0 14px;
				}
				&:hover {
					.lo-r-cont-review-title {
						color: #000 !important;
					}
				}
				&.ext {
					cursor: default !important;
					max-height: 4200px;
//					background: yellow;
					& .lo-r-cont-review-title {
						color: #000;
					}
					& .lo-r-cont-review-body {
						color: #000;
					}
					& .lo-r-cont-review-rating {
						color: #ffce06;
					}
				}
				&-title {
					font-size: 14px;
					font-weight: 800;
					color: #a7a7a7;
				}
				&-rating {
					position: absolute;
					top: 10px;
					right: 12px;
					width: 40px;
					text-align: right;
//					background: #eee;
					color: #ffce06;
					font-weight: 800;
					font-size: 15px;
				}
				&-body {
					position: relative;
					margin-top: 8px;
					font-weight: normal;
					font-size: 11px;
//					font-family: 'courier new';
					color: #a7a7a7;
					&-open {
						cursor: pointer;
						color: $act;
						font-weight: 600;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		
		&-places {
			width: inherit;
			&-place {
				width: inherit;
				background: #fff;
				border-radius: 3px;
				margin-bottom: 10px;
				position: relative;
				box-sizing: border-box;
				padding: 14px;
				&:hover {
					.lo-r-places-place-title {
						color: #000;
					}
				}
				&-title {
					font-size: 14px;
					font-weight: 800;
					color: #535353;
				}
			}
		}
	}
}

.add-review {
	width: inherit;
	position: relative;
	margin-top: 10px;
//	border-radius: 3px;
	background: #fff;
//	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
	box-sizing: border-box;
	padding: 14px 14px 14px 14px;
	&-body {
		width: 100%;
		height: 100px;
		resize: none;
		border: 1px solid #fff;
		box-sizing: border-box;
		padding: 8px;
		font-size: 13px;
		-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.14);
		   -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.14);
				box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.14);
		border-radius: 3px;
		&:focus {
			outline: none;
			border: 1px solid #959595;
		}
	}
	&-submit {
		color: $act;
//		width: 90px;
		font-size: 14px;
		font-weight: 500;
		height: 30px;
//		color: #fff;
//		float: right;
		border: none;
		background: none;
//		border-radius: 2px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		&-wrap {
			text-align: right;
		}
	}
}

#media-dropzone {
	width: 100%;
	height: 60px !important;
	border: none;
	border-radius: 2px;
	position: relative;
	margin-bottom: 10px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiNlZWUiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
	box-sizing: border-box;
	border-top: 1px solid #fff;
	&:hover {
		border: 1px dashed $act;
		.dz-message {
			color: $act;
		}
	}
}
.dz-message {
	height: 20px !important;
	color: #6a6a6a;
}



//.yd-map {
////    display: block;
////    position: relative;
////    margin: auto;
//    width: 80%;
//    height: 500px;
//}

ya-map {
	position: absolute;
	width: 100%;
	height: 400px;
}
//
//.popup  {
//	z-index: 1000;
//	width: 80%;
//	position: absolute;
//	left: 50%;
//	top: 100px;
//	background: yellow;
//	height: 500px;
//}



.placemark_layout_container {
	width: 36px;
	height: 36px;
	display: block;
	border-radius: 100%;
				-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
	
	 		transform: translate(-18px,-18px);
    -webkit-transform: translate(-18px,-18px); /** Chrome & Safari **/
    	 -o-transform: translate(-18px,-18px); /** Opera **/
       -moz-transform: translate(-18px,-18px); /** Firefox **/
}
.new-place-map {
	width: 500px;
	height: 400px;
	position: relative;
}


.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}