//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900&subset=latin,cyrillic-ext);
//@import "http://webfonts.ru/import/ralewayc.css";

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Light'), local('Raleway-Light'), url('ralewaylight.woff2') format('woff2'), url('ralewaylight.woff') format('woff'), url('fonts/ralewaylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('fonts/ralewayregular.woff2') format('woff2'), url('ralewayregular.woff') format('woff'), url('ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Medium'), local('Raleway-Medium'), url('fonts/ralewaymedium.woff2') format('woff2'), url('ralewaymedium.woff') format('woff'), url('ralewaymedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('fonts/ralewaysemibold.woff2') format('woff2'), url('ralewaysemibold.woff') format('woff'), url('ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'), url('fonts/ralewaybold.woff2') format('woff2'), url('ralewaybold.woff') format('woff'), url('ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('fonts/ralewayextrabold.woff2') format('woff2'), url('ralewayextrabold.woff') format('woff'), url('ralewayextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Black'), local('Raleway-Black'), url('fonts/ralewayblack.woff2') format('woff2'), url('ralewayblack.woff') format('woff'), url('ralewayblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


//$bg: rgb(248, 248, 248);
$bg: rgb(255, 255, 255);
$win: #fff;
$act: rgb(240,67,61);

.hidden {
	display: none !important;
}


a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: $bg;
//	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway';
}

.prnj {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.85);
//	background: rgba(255, 255, 255, 0.85);
	z-index: 10;
	top: 0;
	left: 0;
}

.blured {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'svgBlur\' x=\'-5%\' y=\'-5%\' width=\'110%\' height='\110%'\><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'5\'/></filter></svg>#svgBlur");
	-webkit-filter: blur(20px);
	   -moz-filter: blur(20px);
		 -o-filter: blur(20px);
		-ms-filter: blur(20px);
			filter: blur(20px);
}

.popup {
	max-width: 700px;
	width: 90%;
	position: relative;
	height: auto;
	z-index: 11;
	top: 20px;
	margin: 0 auto 40px;
//	background: #eee;
	color: #fff;
//	border-radius: 2px;
	padding-top: 60px;
	box-sizing: border-box;
	&-close {
		position: absolute;
		top: 20px;
		width: 18px;
		height: 18px;
		text-align: center;
		right: 30px;
		font-size: 18px;
		color: #969696;
		cursor: pointer;
		&:hover {
			color: #fff;
		}
	}
	&-login {
		text-align: center;
		&-button {
			width: 208px;
			height: 40px;
			border-radius: 2px;
			position: relative;
//			margin-top: 30px;
			margin: 30px auto 0;
			&.vk {
				background: #5B7FA6;
			}
			&.fb {
				background: #3b5998;
//				.popup-login-button-icon {
//					height: 20px !important;
//					top: 10px !important;
//				}
			}
			&-icon {
				text-align: center;
				width: 30px;
				height: 30px;
				position: relative;
				top: 5px;
				left: 5px;
				text-align: center;
				display: inline-block;
				margin-left: 4px;
			}
			&-title {
				display: inline-block;
				color: #fff;
				font-weight: 600;
				height: 30px;
				line-height: 30px;
				position: relative;
				top: 5px;
//				border-left: 1px solid #fff;
//				padding-left: 15px;
				margin-left: 16px;
				vertical-align: top;
			}
			a {
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				cursor: pointer;
				z-index: 20;
			}
		}
	}
}


.cont {
	width: 900px;
	position: relative;
	margin: auto;
}
.what {
	position: fixed;
	bottom: 12px;
	left: 12px;
	width: 20px;
	height: 16px;
	cursor: pointer;
	z-index: 3;
	font-weight: 800;
	&:hover {
		color: $act;
	}
}

.lo {
	width: 100%;
	position: relative;
//	top: 60px;
	margin-top: 20px;
	&-l, &-r {
		display: inline-block;
		vertical-align: top;
	}
	&-l {
//		display: inline-block;
		width: 560px;
		height: 600px;
		position: fixed;
//		position: relative;
//		top: 60px;
//		left: 0;
		&-head {
			width: inherit;
			position: relative;
			margin-bottom: 20px;
			height: 70px;
//			background: red;
			&-logo {
				width: 70px;
				height: 70px;
				position: relative;
				display: inline-block;
				vertical-align: top;
				background-image: url('logo.png');
				background-size: 100%;
				box-sizing: border-box;
				a {
					display: block;
					height: 100%;
				}
			}
			&-nav {
//				width: 340px;
//				margin: auto;
//				background: cyan;
				height: 40px;
				position: relative;
				right: 0;
				top: 15px;
				display: inline-block;
				text-align: right;
				box-sizing: border-box;
				padding-right: 30px;
//				background: cyan;
				&-item {
					display: inline-block;
					height: 100%;
//					background: yellow;
					line-height: 40px;
					margin-left: 50px;
					cursor: pointer;
					font-weight: 800;
					&:hover {
						color: $act;
					}
				}
				&-user {
//					background: yellow;
					height: 60px;
					display: inline-block;
					position: relative;
					top: -10px;
//					margin: 0;
					&-img {
						width: 34px;
						height: 34px;
//						background-color: red;
						background-position: center;
						background-size: cover;
						border-radius: 3px;
						overflow: hidden;
						position: relative;
						margin: auto;
					}
					&-logout {
						position: absolute;
						top: 0;
						left: 50%;
						width: 15px;
						margin-left: 22px;
						font-size: 10px;
						color: #b4b4b4;
						cursor: pointer;
						&:hover {
							path {
								fill: $act;
							}
						}
					}
					&-name {
						font-weight: 800;
						font-size: 13px;
						margin-top: 8px;
						text-align: center;
						color: #4d4d4d;
					}
				}
			}
		}
		&-map {
			width: 550px;
			height: 400px;
			display: block;
			background: #b0b0b0;
			border-radius: 3px;
			box-sizing: border-box;
//			top: 100px;
//			overflow: hidden !Important;
			   -moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			 -khtml-border-radius: 3px;
					border-radius: 3px;
			overflow: hidden;
			position: relative;
			-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
		}
		&-addplace {
			display: inline-block;
//			width: 155px;
//			font-weight: 500;
			font-weight: 800;
			height: 40px;
			position: relative;
			margin-top: 10px;
//			border-radius: 2px;
//			border: 1px solid $act;
//			background: $act;
//			color: #fff;
			color: $act;
			line-height: 40px;
			text-align: center;
//			   -moz-transition: max-height .8s ease;
//			-webkit-transition: max-height .8s ease;
//			   -moz-transition: max-height .8s ease;
//				 -o-transition: max-height .8s ease;
//					transition: max-height .8s ease;
			&:hover {
				text-decoration: none;
//				-webkit-box-shadow: 0px rgba(0,0,0,0.2);
//				   -moz-box-shadow: 0px rgba(0,0,0,0.2);
//						box-shadow: 0px rgba(0,0,0,0.2);
			}
			&-tip {
				margin-left: 30px;
				position: relative;
				font-size: 14px;
				color: #797979;
			}
		}
	}
	&-r {
//		display: inline-block;
		width: 330px;
//		height: 700px;
//		position: relative;
//		float: right;
		position: absolute;
		right: 0;
//		top: 80px;
//		right: 0;
//		margin-right: 10px;
		font-size: 13px;
		&-nav {
			width: inherit;
			height: 70px;
//			background: cyan;
			margin-bottom: 20px;
			line-height: 70px;
			&-select {
				top: 15px;
				width: inherit;
				position: relative;
				height: 40px;
				text-align: center;
				line-height: 40px;
				font-weight: 800;
				font-size: 16px;
				color: #a3a3a3;
				span {
					margin-right: 14px;
					cursor: pointer;
					user-select: none;
					&.active {
						color: #000 !important;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		&-card-wrapper {
			position: fixed;
			height: 90px;
			top: 60px;
			width: inherit;
			z-index: 6;
		}
		&-card {
			&-places {
				cursor: pointer;
			}
			&-lay {
				position: absolute;
				top:0;
				left: 0;
				background: rgba(0,0,0,.6);
				width: 100%;
				height: 100%;
			}
			position: relative;
			margin-bottom: 10px;
			width: inherit;
//			position: fixed;
//			height: 90px;
			height: 70px;
//			top: 60px;
			border-radius: 3px;
//			background: #f4f7f7;
//			background: rgb(255, 255, 255) !Important;
			background: #535353;
//			background-image: url(http://cs623622.vk.me/v623622290/4eae6/i5912Gqw5Bo.jpg);
			background-position: center !important;
			background-size: 100% !important;
//			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiNmNGY3ZjciIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8L3N2Zz4=");
//			z-index: 5;
//			transition: all .2s ease;
//			background: $win;
			-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
			box-sizing: border-box;
			padding: 14px;
			&-close {
				position: absolute;
				width: 14px;
				height: 14px;
				text-align: center;
				font-size: 14px;
				color: #6b6b6b;
				right: 5px;
				top: 5px;
				cursor: pointer;
				&:hover {
					color: $act;
				}
			}
			&-title {
//				font-weight: bold;
				font-weight: 800;
				font-size: 14px;
				color: #fff;
			}
			&-metro {
				margin-top: 6px;
				display: inline-block;
				font-size: 13px;
				font-weight: 500;
//				color: #575757 !important;
				color: #bfbfbf;
				div {
					display: inline-block;
				}
				#metro-logo {
					fill: $act !important;
				}
//				&-logo {
//					width: 13px;
//					height: 13px;
//					overflow: hidden;
//				}
				&-sok {
					& #metro-logo {
						fill: red;
					}
				}
				&-zam {
					& #metro-logo {
						fill: green;
					}
				}
				&-ap {
					& #metro-logo {
						fill: blue;
					}
				}
				&-fil {
					& #metro-logo {
						fill: deepskyblue;
					}
				}
				&-kol {
					& #metro-logo {
						fill: brown;
					}
				}
				&-kr {
					& #metro-logo {
						fill: orange;
					}
				}
				&-tk {
					& #metro-logo {
						fill: purple;
					}
				}
				&-kal {
					& #metro-logo {
						fill: #FFCB31;
					}
				}
				&-st {
					& #metro-logo {
						fill: dimgray;
					}
				}
				&-lub {
					& #metro-logo {
						fill: #86d907;
					}
				}
				&-kah {
					& #metro-logo {
						fill: darkcyan;
					}
				}
				&-but {
					& #metro-logo {
						fill: #66b2b6;
					}
				}
				&-tim {
					& #metro-logo {
						fill: #011e66;
					}
				}
			}
			&-rating {
				position: absolute;
				top: 14px;
				right: 14px;
				width: 64px;
				height: 42px;
//				background: #fff;
				&-num {
					font-family: 'helvetica';
					display: inline-block;
					width: 40px;
					height: 22px;
					line-height: 22px;
					font-weight: 600;
					font-size: 22px;
//					background: cyan;
					color: #ffce06;
					text-align: center;
				}
				&-count {
					display: inline-block;
					width: 20px;
					height: 14px;
					font-weight: 400;
					color: #909090;
					font-family: 'helvetica';
					font-size: 13px;
//					background: red;
					text-align: center;
					vertical-align: bottom;
				}
				&-stars {
					height: 14px;
					width: 90px;
//					background: black;
					left: -26px;
					position: relative;
					.rating li {
						font-size: 7px !important;
//						width: 8px !important;
						margin: 0 !important;
					}
				}
			}
			&-create {
				position: absolute;
				right: 14px;
				bottom: 10px;
				cursor: pointer;
				color: $act;
				path {
					fill: $act;
				}
				&-icon {
					position: relative;
					left: 2px;
					top: 2px;
				}
				span:first-child {
					width: 10px;
				}
				&:hover {
//					text-decoration: underline;
				}
			}
			&-share {
				width: 16px;
				height: 16px;
				position: absolute;
				bottom: 11px;
				right: 96px;
				path {
					fill: #cecece;
//					fill: blue;
				}
			}
			&-revnum {
				&-places {
					right: 12px !important;
				}
				position: absolute;
				bottom: 11px;
				right: 120px;
				display: inline-block;
				height: 12px;
				height: 16px;
				path {
					fill: #cecece;
					position: absolute;
				}
				&-icon {
					position: relative;
					top: 2px;
				}
				&-num {
					position: relative;
//					top: 1px;
					left: 2px;
					color: #000;
					width: 22px;
					text-align: center;
					font-family: 'helvetica';
					color: #cecece;
					font-weight: 400;
					font-size: 14px;
				}
			}
		}
		&-subnav {
			width: inherit;
			height: 50px;
			position: relative;
			text-align: right;
			&-newreview {
				display: inline-block;
//				line-height: 50px;
				cursor: pointer;
				top: 15px;
				position: relative;
				height: 20px;
				line-height: 20px;
				font-size: 16px;
//				font-weight: 500;
				font-weight: 900;
				color: $act;
			}
		}
		&-add {
			position: relative;
			right: 0;
			top: 25px;
			width: 24px;
			height: 24px;
			border-radius: 12px;
			background: $act;
			color: #fff;
			font-size: 24px;
			font-weight: 700;
			line-height: 24px;
			text-align: center;
			cursor: pointer;
			margin: auto;
			top: 58px;
			z-index: 5;
		}
		&-cont {
			&-fix {
				top: 100px;
			}
			width: inherit;
			position: relative;
			margin-top: 20px;
//			top: 100px;
//			top: 80px;
			&-review {
				background: $win;
				box-sizing: border-box;
//				border-top: 1px solid #eee;
//				padding: 13px 10px;
				position: relative;
				margin-bottom: 40px;
//				border-radius: 3px;
//				max-height: 90px;
								max-height: 390px;
				cursor: pointer;
//				background: #ddd9c7;
//				padding: none !Important;
//				transition: height .2s ease;
					   -moz-transition: max-height .8s ease;
					-webkit-transition: max-height .8s ease;
					   -moz-transition: max-height .8s ease;
						 -o-transition: max-height .8s ease;
							transition: max-height .8s ease;
				overflow: hidden;
				border-bottom: 1px solid #eee;
				img {
					width: 100%;
					display: block;
					margin: 14px 0 14px;
				}
				&:hover {
					.lo-r-cont-review-title {
						color: #000 !important;
					}
				}
				&.ext {
					cursor: default !important;
					max-height: 4200px;
//					background: yellow;
					& .lo-r-cont-review-title {
						color: #000;
					}
					& .lo-r-cont-review-body {
						color: #000;
					}
					& .lo-r-cont-review-rating {
						color: #ffce06;
					}
				}
				&-head {
					width: 100%;
					position: relative;
					margin-bottom: 20px;
					height: 40px;
//					background: cyan;
					top: 0;
					left: 0;
					&-user {
						position: relative;
						display: inline-block;
//						background: red;
						&-img {
							width: 40px;
							height: 40px;
							border-radius: 100%;
							overflow: hidden;
							background-position: center;
							background-size: cover;
//							background-color: red;
							display: inline-block;
							position: relative;
							margin-right: 7px;
						}
						&-name {
							display: inline-block;
							position: relative;
							vertical-align: top;
							margin-top: 5px;
//							background: yellow;
							font-size: 14px;
						}
					}
					&-rating {
						position: relative;
						float: right;
//						background: pink;
						height: 40px;
						line-height: 40px;
						font-size: 24px;
						color: #ffce06;
						font-family: 'helvetica';
						text-align: center;
						width: 50px;
						font-weight: 800;
					}
				}
				&-title {
					font-size: 22px !important;
					font-weight: 800;
					color: #a7a7a7;
//					margin-left: 40px;
//					margin-top: 2px;
				}
				&-body {
					position: relative;
//					margin-top: 8px;
					margin-top: 12px;
					font-weight: 500;
					font-size: 11px;
//					font-family: 'courier new';
					color: #a7a7a7;
					&-open {
						cursor: pointer;
						color: $act;
						font-weight: 600;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				&-author {
//					text-align: right;
					display: inline-block;
					position: absolute;
					top: 18px;
					right: 10px;
					font-size: 11px;
					color: #555555
				}
			}
		}
		&-places {
			width: inherit;
			&-place {
				width: inherit;
				background: #fff;
				border-radius: 3px;
				margin-bottom: 10px;
				position: relative;
				box-sizing: border-box;
				padding: 14px;
				&:hover {
					.lo-r-places-place-title {
						color: #000;
					}
				}
				&-title {
					font-size: 14px;
					font-weight: 800;
					color: #535353;
				}
			}
		}
	}
}

.add-review {
	font-weight: 500;
	width: inherit;
	position: relative;
//	margin-top: 10px;
//	border-radius: 3px;
	background: #fff;
//	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
//					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
	box-sizing: border-box;
	padding: 14px 14px 14px 14px;
	&-title {
		border: none;
		width: 290px;
		height: 40px;
		line-height: 40px;
		box-sizing: border-box;
		padding-left: 10px;
		background: #f5f5f5;
		border-radius: 2px;
		font-weight: 800;
		font-size: 14px;
		position: relative;
		margin-bottom: 10px;
		&:focus {
			outline: none;
		}
	}
	&-body {
		width: 100%;
		height: 150px;
		resize: none;
		padding: 14px 10px;
		background: #f5f5f5;
		border-radius: 2px;
		border: none;
		box-sizing: border-box;
		font-size: 13px;
//		-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.14);
//		   -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.14);
//				box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.14);
		&:focus {
			outline: none;
//			border: 1px solid #959595;
		}
	}
	&-images {
		&-one {
			width: 100px;
		}
	}
	&-price {
		height: 30px;
		line-height: 30px;
		margin: 10px 0 14px;
		font-weight: 600;
		&-input {
			border: none;
			width: 60px;
			height: 30px;
			margin: 0 5px;
			background: #f5f5f5;
			text-align: center;
			font-weight: 800;
			font-size: 14px;
			&:focus {
				outline: none;
			}
		}
		span {
			font-size: 16px;
		}
	}
	&-rate {
		width: 100%;
		height: 60px;
		background: rgba(255, 247, 215, .5);
		border: 2px;
		position: relative;
		&-title {
			color: rgb(255, 214, 51);
			position: absolute;
			display: inline-block;
			top: 5px;
			left: 5px;
		}
		&-stars {
			width: 260px;
			top: 10px;
//			height: 20px;
			display: block;
			margin: auto;
			position: absolute;
			left: 0; right: 0;
//			background: red;
//			margin:
			.rating li {
				font-size: 24px !important;
			}
		}
	}
	&-extrate {
		width: 100%;
		box-sizing: border-box;
		padding: 40px 0 2px;
		position: relative;
//		background: rgba(255, 247, 215, .5);
		border-radius: 2px;
		text-align: center;
		margin: 10px 0;
		max-height: 900px;
		&-title {
			position: absolute;
			top: 10px;
			left: 10px;
			color: #7e7e7e;
		}
		&-wrap {
			width: 296px;
			padding-right: 20px;
			position: relative;
			margin: auto;
		}
		&-titles {
			margin-top: 4px;
			vertical-align: top;
//			font-weight: 700;
			color: #000;
			display: inline-block;
			width: 100px;
			&-item {
				text-align: right;
				height: 34px;
				font-weight: 600;
//				line-height: 42px;
//				&:last-child {
//					font-weight: 900;
//					margin-top: 10px;
//				}
			}
		}
		&-stars {
			margin-left: 8px;
			vertical-align: top;
			display: inline-block;
			width: 180px;
			&-item {
//				margin-top: -4px;
				height: 34px;
//				margin-bottom: 8px;
			}
		}
	}
	&-dropzone {
		width: 100%;
		height: 80px;
		background: red;
		border-radius: 3px;
		margin: 10px 0;
		position: relative;
		overflow: hidden;
//		border: 1px dashed #fff;
		#media-dropzone {
			border: none;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			min-height: 0px;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiNlZWUiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
			&:hover {
				.dz-message {
					color: #000;
				}
			}
		}
	}
	&-submit {
		text-align: right;
		button {
			border: none;
			background: none;
			color: $act;
//			font-weight: 600;
			font-size: 16px;
			&:focus {
				outline: none;
			}
		}
	}
}
.dz-message {
	height: 20px !important;
	color: #6a6a6a;
	position: relative;
	margin-top: 10px;
}



//.yd-map {
////    display: block;
////    position: relative;
////    margin: auto;
//    width: 80%;
//    height: 500px;
//}

ya-map {
	position: absolute;
	width: inherit;
	height: inherit;
}
//
//.popup  {
//	z-index: 1000;
//	width: 80%;
//	position: absolute;
//	left: 50%;
//	top: 100px;
//	background: yellow;
//	height: 500px;
//}



.placemark_layout_container {
	width: 36px;
	height: 36px;
	display: block;
	border-radius: 100%;
				-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
			   -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.14);
	
	 		transform: translate(-18px,-18px);
    -webkit-transform: translate(-18px,-18px); /** Chrome & Safari **/
    	 -o-transform: translate(-18px,-18px); /** Opera **/
       -moz-transform: translate(-18px,-18px); /** Firefox **/
}
.new-place-map {
	width: 500px;
	height: 400px;
	position: relative;
}

// ===========================================
.rating{
  color: #c9c9c9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #ffce06;
}
