* {
	box-sizing: border-box;
	font-family: 'Arial';
}
body {
	margin: 0;
}

.admin {
	width: 100%;
	height: 100%;
	position: relative;
	&-menu {

		width: 100%;
		height: 100px;
		position: relative;
		background: black;
		&-item {
			vertical-align: top;
			position: relative;
			display: inline-block;
			width: 180px;
			font-size: 15px !important;
			height: 100%;
			box-sizing: border-box;
			margin: 0;
			text-align: center;
			padding-top: 30px;
		}
	}
	&-users {
		padding: 30px;
	}
	&-user {
		width: 100%;
		height: 70px;
		border-bottom: 1px solid black;
		&-id {
			vertical-align: top;
			position: relative;
			display: inline-block;
			margin: 10px;
			font-size: 30px;	
			padding: 5px;
			border: 3px solid black;
			border-radius: 25px;
		}
		&-avatar {
			margin: 5px 0 5px 0;
			vertical-align: top;
			position: relative;
			display: inline-block;
			height: 60px;
			width: 60px;
			background-image: no-repeat;
			background-size: 100%;
		}
		&-info {
			font-weight: bolder;
			margin: 5px 0 5px 0;
			vertical-align: top;
			position: relative;
			display: inline-block;
			width: 1050px;
			&-main {
				vertical-align: top;
				position: relative;
				display: inline-block;
				width: 250px;
			}
			&-activity {
				vertical-align: top;
				position: relative;
				display: inline-block;
				width: 150px;
			}
			&-actions {
				vertical-align: top;
				position: relative;
				width: 300px;
				display: inline-block;
				&-make-admin {
					vertical-align: top;
					position: relative;
					width: 150px;
					display: inline-block;
				}
				&-delete {
					margin-left: 25px;
					vertical-align: top;
					position: relative;
					width: 100px;
					display: inline-block;				
				}
			}
		}
	}
	&-feedback {
		margin: 10px;
		padding: 5px 30px 10px 30px;
		height: auto;
		border-bottom: 1px solid black;
		&-id {
			vertical-align: top;
			position: relative;
			display: inline-block;
			margin: 10px;
			font-size: 30px;	
			padding: 5px;
			border: 3px solid black;
			border-radius: 25px;
		}
		&-user {
			position: relative;
			display: inline-block;
			vertical-align: top;
		}
		&-info {
			width: 800px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			&-type {
				position: absolute;
				right: 5px;
				top: 5px;
				padding: 5px;
				border-radius: 5px;
				background: #C4EFF0;
			}
			&-delete {
				padding: 5px 0 0 10px; 
				position: relative;
				display: inline-block;
				vertical-align: top;	
				width: 100px;			
			}
			&-body {
				margin-left: 20px;
				width: 300px;
				position: relative;
				display: inline-block;
				vertical-align: top;
				padding: 5px 10px 0 10px;
			}
			&-images {
				width: 300px;
				position: relative;
				display: inline-block;
				&-one {
					width: 100px;
					margin: 10px; 
					display: inline-block;
					position: relative;
				}
			}
		}
	}
	&-place {
		width: 90%;
		margin: 10px 30px 10px 30px;
		border-bottom: 1px solid black;
		position: relative;
		&-id {
			vertical-align: top;
			position: relative;
			display: inline-block;
			margin: 0 10px 0 10px;
			font-size: 30px;	
			padding: 5px;
			border: 3px solid black;
			border-radius: 25px;
		}
		&-main {
			display: inline-block;
			position: relative;
			width: 150px;
			vertical-align: top;
			&-rating {
				text-align: center;
				width: 120px;
				margin-left: 25px;
				background: #e8da4d;
				padding: 5px;
				position: relative;
				display: block;
				border: 1px solid black;
			}
			&-date {
				text-align: center;
				width: 120px;
				margin-left: 25px;
				padding: 5px;
				position: relative;
				display: block;				
			}
		}
		&-address {
			margin: 0 0 0 20px;
			vertical-align: top;			
			position: relative;
			display: inline-block;
			width: 230px;
			background-size: 100% auto;
			background-repeat: no-repeat;
			height: 140px;
			z-index: -1;
			&-filter {
				z-index: 1;
				position: absolute;
				width: 100%;
				background: rgba(255,255,255,.4);
				height: 100%;
				top: 0;
				left: 0;
			}
			&-metro{
				margin: 0;
				z-index: 2;
				font-weight: bolder;
				width: 210px;
				position: relative;
				display: block;
			}
			&-street {
				z-index: 2;
				margin-top: 10px;
				width: 210px;
				position: relative;
				display: block;				
			}
		}
		&-info {
			position: relative;
			vertical-align: top;
			width: 200px;
			display: inline-block;
			&-reviews {
				position: relative;
				display: block;
			}
			&-author {
				margin-left: 0;
				margin-top: 10px;
				position: relative;
				display: block;
				&-avatar {
					width: 100px;
				}
			}
		}
		&-delete {
			position: relative;
			display: inline-block;
			vertical-align: top;
		}
	}
	&-review-place {
		position: absolute;
		top: 5px;
		right: 20px;
		width: 500px;
		min-height: 100px;
		border: 1px solid  black;
		padding: 20px;
		border-radius: 3px;
		&-adress {
			position: relative;
			padding-right: 60px;
		}
		&-author {
			position: absolute;
			right: 20px;
			top: 20px;
			height: 100%;
		}
	}
	&-review {
		top: 40px;
		position: relative;
		width: 90%;
		margin: 10px 30px 10px 30px;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
		height: auto;
		&-main {
			height: auto;
			position: relative;
			display: inline-block;
			width: 170px;
			padding: 0px 10px 0 10px;
			&-info {
				text-align: center;
				&-title {
					padding-right: 5px 10px 5px 10px;
					position: relative;
					font-weight: bolder; 
					font-size: 20px;
					text-align: center;
					margin-bottom: 20px;
					color: #c22d11;
					border: 3px solid #c22d11;
					border-radius: 4px;
				}
			}
			&-author {
				text-align: center;
				margin: 20px 10px 10px 10px;
			}
		}	
		&-body {
			height: auto;
			padding: 10px;
			border-left: 1px solid black;
			border-right: 1px solid black;
			position: relative;
			vertical-align: top;
			display: inline-block;
			width: 600px;
			font-size: 15px;
		}
		&-images {
			position: relative;
			vertical-align: top;
			display: inline-block;
			width: 450px;
			&-one {
				padding: 4px;
				margin: 1px;
				border: 1px solid #82ce99;
				vertical-align: top;
				position: relative;
				display: inline-block;
			}
		}
	}	
}
.image-100 {
	width: 100px;
}

.critery {
	font-weight: bolder;
}
.main-link {
	width: 100px !important;
	background-image: url('logo.png');
	background-size: 100%;
}
.image-link {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.make-admin-link {
	text-decoration: none;
	color: #aaaaaa;
	&:hover {
		color: #818181;
	}
}
.user-link {
	text-decoration: none;
	color: #424242;
	&:hover {
		color: #272626;
	}	
}
.delete-link {
	color: #ff6b6b;
	text-decoration: none;
	font-weight: bolder;
	&:hover {
		color: #bb3434;
	}
}
.menu-link {
	font-weight: bolder;
	padding-top: 35px;
	font-size: 25px;
	color: white;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	&:hover{
		color: black;
		background: white;
	}
}
.reviews-link {
	color: #afa856;
	text-decoration: none;
	font-weight: bolder;
	&:hover {
		color: #99912b;
	}	
}