<!DOCTYPE html>
<html>
<head>
  <title>Topdoner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Topdoner" ng-controller="MainCtrl">
	<%= yield %>
	<div class="prnj hidden" ng-click="closePopup()"></div>
	<div class="popup popup-about hidden">
		<div class="popup-close" ng-click="closePopup()">✕</div>
		<h2>Что такое DONER.IO?</h2>
		Это тип такой сайтик с картой где шаурма.
		Итак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчаткахИтак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчаткахИтак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчаткахИтак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчаткахИтак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчаткахИтак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчаткахИтак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчаткахИтак,находится уголок чревоугодника прямо у метро. (Выход к магазину плеер, если кто не знает выход с платформы к маленькому эскалатору, и далее налево, и еще раз на лево после выхода из метро). Теперь непосредственно, что касается палатки: 
[+]
1.располагается рядом с другим храмом "Крошка картошка", несчадно давя конкурентов своими свитками
2.можно приобрести дополнительную выпечку:пирожки, беляши и прочую херню из теста, а также заправить бензобак колой, фантой и тд
3.мясо на вид и на вкус напоминает курино-свинной микс, что радует и вселяет веру, что до того как попасть на вертел мясо не мяукало и не гавкало
4.ассортимент лавашей обычный сыр/классика
5.разнообразие соусов вполне так себе обычное как и везде. ничего лишнего 
6.стоит отметить - мясо измельчают до самых маленьких частичек, что позволяет есть с комфортом и наслаждением, а не давиться огромными кусками
7.ожидание составляет 1-3 минуты, что не может не радовать
8. Служитель храма сам дает стопку салфеток, позволяя взять столько сколько нужно, как бы боясь не угодить - дать много или недодать!
9.готовит в перчатках
	</div>
</body>
</html>
