<!DOCTYPE html>
<html>
<head>
  <title>Topdoner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Topdoner" ng-controller="PlacesCtrl">

<%= yield %>

<div class="prnj hidden"></div>
	<div class="popup hidden">
		<div class="popup-close" ng-click="closePp">✕</div>
		Popup here plz.
	</div>

</body>
</html>
